p {background-color: rgb(250,100,100); font-family: Verdana, sans-serif;}
#num1 {color: rgb(0,0,255); font-size: 36px;}
.cooler {font-size: 24px;}
#num2 {background-color: rgb(100,255,100); font-size: 24px; font-weight: bold;}